<div class= "container">
<div class= "jumbotron center">	
<h1>Welcome to my App</h1>
<% if user_signed_in? %>
	# do something
<% else %>
<p>
<%= link_to "log in", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary" %>
</p>
<% end %>
<a href="https://flowplayer.org/standalone/quickstart.html">Watch video!
<script>var w=window,d=document,e;w._fpes||(w._fpes=[],w.addEventListener("load",function(){var s=d.createElement("script");s.src="//embed.flowplayer.org/6.0.1/embed.min.js",d.body.appendChild(s)})),e=[].slice.call(d.getElementsByTagName("script"),-1)[0].parentNode,w._fpes.push({e:e,l:"",c:{"ratio":0.5625,"rtmp":0,"live":false,"origin":"https://flowplayer.org/standalone/quickstart.html","swf":"//releases.flowplayer.org/6.0.1/flowplayer.swf","swfHls":"//releases.flowplayer.org/6.0.1/flowplayerhls.swf","adaptiveRatio":false,"clip":{"subtitles":[],"sources":[{"src":"//stream.flowplayer.org/drive.webm","suffix":"webm","type":"video/webm"},{"src":"//stream.flowplayer.org/drive.mp4","suffix":"mp4","type":"video/mp4"}],"src":"https://stream.flowplayer.org/drive.webm","suffix":"webm","type":"video/webm","duration":68.004,"width":640,"height":360,"url":"https://stream.flowplayer.org/drive.webm","seekable":68.004,"time":0}}});
</script></a>

</div>
</div>

